/* 全体設定*/
body{
  font-family: Arial;
  text-align: center;
  color: white;
  font-size: 30px;
  height: 1100px;
  /* 背景はJSで上書きするので、ここはただの仮設定 */
  background: url(../img/99.jpg) no-repeat center center;
  background-size: cover;
}


/* 文字入れてる四角い箱 */
.container{
  margin: 500px auto;
  padding-top: 12px;
  width: 300px;
  border: white solid 4px;
  background-color: rgba(10,10,10,0.2);
}


